    <div class="userPicture"></div>
    <div class="userDetails">
      <div class="keyValue">
        <span>Name:</span>
        <span>{{contact.name}}</span>
      </div>
      <div class="keyValue">
        <span>Surname:</span>
        <span>{{contact.surname}}</span>
      </div>
      <div class="keyValue">
        <span>City:</span>
        <span>{{contact.city}}</span>
      </div>
      <div class="keyValue">
        <span>Email:</span>
        <span><a href="mailto:{{contact.email}}">{{contact.email}}</a></span>
      </div>
      <div class="keyValue">
        <span>Phone:</span>
        <span>{{contact.phone}}</span>
      </div>
    </div>